@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
Notification CSS
*/

.notification-container {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
  z-index: 1000;
}

.notification {
  background: #444;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  opacity: 0;
  transform: translateX(100%);
  animation: slide-in 0.5s forwards, fade-out 0.5s 4.5s forwards;
}

.notification.success {
  background: green;
}

.notification.error {
  background: red;
}

.notification.info {
  background: blue;
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}